{% extends "common/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}VANDAL{% endblock %}
{% block content %}

{% comment %} Blogs {% endcomment %}
<section id="blog">
  <h2>{% trans "Blog" %}</h2>
  <div class="grid-3">
    {% for post in posts %}
    <article class="card">
      <div class="date">{{ post.created_at|date:"j F Y" }}</div>
      
      <div class="title">
        {% if LANGUAGE_CODE == 'en' and post.title_en %}
          {{ post.title_en }}
        {% else %}
          {{ post.title }}
        {% endif %}
      </div>
      
      <div class="desc">
        {% if LANGUAGE_CODE == 'en' and post.content_en %}
          {{ post.content_en|truncatechars:180 }}
        {% else %}
          {{ post.content|truncatechars:180 }}
        {% endif %}
      </div>
      
      <a href="{% url 'blog_post' post.id %}">
        {% if post.image %}
          <img class="image" src="{{ post.image.url }}" alt="{% if LANGUAGE_CODE == 'en' and post.title_en %}{{ post.title_en }}{% else %}{{ post.title }}{% endif %}">
        {% else %}
          <img class="image" alt="Sin imagen">
        {% endif %}
      </a>
    </article>
    {% endfor %}
  </div>
</section>

  
  <!-- Sección de contacto -->
<div style="text-align: center;">
  <h1>{% trans "¿Encontraste un bug en tu aventura?" %}</h1>
  <p>{% trans "Cuéntanos para que podamos lanzar un hechizo de corrección." %}</p>
</div>
<div style="text-align: center; margin: 20px 0;">
  <a href="/{{ LANGUAGE_CODE }}/contacto" class="contact-button">{% trans "Contáctanos" %}</a>
</div>
{% endblock %}