{% extends "common/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}VANDAL{% endblock %}
{% block content %}

<!--- Calendario de Eventos -->
<section id="calendario" class="calendario-container">
  <h2>{% trans "Calendario de Eventos" %}</h2>
  {% for evento in eventos %}
    <div class="calendario-card">
      <div class="title">
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'en' and evento.nombre_en %}
          {{ evento.nombre_en }}
        {% else %}
          {{ evento.nombre }}
        {% endif %}
        <br>
        {{ evento.fecha|date:"d F Y H:i" }}
      </div>
      <div class="desc">
        {% if LANGUAGE_CODE == 'en' and evento.descripcion_en %}
          {{ evento.descripcion_en }}
        {% else %}
          {{ evento.descripcion }}
        {% endif %}
      </div>
      <div class="image">
        <a href="{% url 'detalle_calendario' evento.id %}">
          <img src="{{ evento.imagen.url }}" alt="{{ evento.nombre }}">
        </a>
      </div>
    </div>
  {% empty %}
    <p>{% trans "No hay eventos programados." %}</p>
  {% endfor %}
</section>

<!-- Sección de contacto -->
<div style="text-align: center;">
  <h1>{% trans "¿Encontraste un bug en tu aventura?" %}</h1>
  <p>{% trans "Cuéntanos para que podamos lanzar un hechizo de corrección." %}</p>
</div>
<div style="text-align: center; margin: 20px 0;">
  <a href="/{{ LANGUAGE_CODE }}/contacto" class="contact-button">{% trans "Contáctanos" %}</a>
</div>
{% endblock %}