{% extends "common/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}VANDAL{% endblock %}
{% block content %}
  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit risus, non proin dui cubilia curabitur vivamus tempus
    ullamcorper aptent, taciti netus integer felis mauris dictumst aliquam. Nibh nostra leo enim gravida sollicitudin,
    rhoncus facilisis cras curae vulputate per, torquent elementum sapien fusce. Duis at ridiculus praesent pretium
    semper fames ligula, mattis vestibulum neque enim blandit turpis viverra, porta nulla lacus libero proin molestie.
  </p>

  <p>Iaculis suscipit eleifend ac proin nulla nullam porttitor, non ultrices urna mus accumsan tellus, sagittis ornare
    turpis ligula varius et. Torquent himenaeos tellus placerat facilisis litora nostra scelerisque, aptent dictumst
    mauris quisque habitant dis, molestie orci luctus faucibus fringilla risus. Vulputate scelerisque fusce dapibus
    libero felis eleifend luctus cursus nostra molestie, convallis vestibulum sapien dis urna conubia magnis risus
    litora ultrices, mauris iaculis suscipit nisl at sodales euismod netus arcu.</p>
{% endblock %}