{% extends "common/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}VANDAL{% endblock %}
{% block content %}
<!-- Detalle de la noticia -->
  <section class="noticia-detalle">
    {% get_current_language as LANGUAGE_CODE %}
    <h1 class="titulo">
      {% if LANGUAGE_CODE == 'en' %}
        {{ noticia.titulo_en }}
      {% else %}
        {{ noticia.titulo }}
      {% endif %}
    </h1>
    <p class="descripcion">
      {% if LANGUAGE_CODE == 'en' %}
        {{ noticia.resumen_en }}
      {% else %}
        {{ noticia.resumen }}
      {% endif %}
    </p>
    
    <div class="imagen">
      <img src="{{ noticia.imagen.url }}" alt="{{ noticia.titulo }}">
    </div>
    
    <div class="contenido">
      {% if LANGUAGE_CODE == 'en' %}
        <p>{{ noticia.contenido_en|linebreaks }}</p>
      {% else %}
        <p>{{ noticia.contenido|linebreaks }}</p>
      {% endif %}
    </div>
  </section>
  
  <!-- Sección de contacto -->
<div style="text-align: center;">
  <h1>{% trans "¿Encontraste un bug en tu aventura?" %}</h1>
  <p>{% trans "Cuéntanos para que podamos lanzar un hechizo de corrección." %}</p>
</div>
<div style="text-align: center; margin: 20px 0;">
  <a href="/{{ LANGUAGE_CODE }}/contacto" class="contact-button">{% trans "Contáctanos" %}</a>
</div>
{% endblock %}