{% extends "common/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}VANDAL{% endblock %}
{% block content %}
<!-- Contenido principal -->
<section id="ranking">
  <h2>Top 10 mejores juegos de la historia</h2>
  <div class="list-ranking">
    {% for juego in Juego_ranking %}
    <a href="{% url 'detalle_ranking_juego' juego.id %}" style="text-decoration:none;color:inherit;">
      <div class="ranking-container">
        <div class="caratula">
          <img src="{{ juego.portada.url }}" alt="Top {{ forloop.counter }}">
        </div>
        <div class="info">
          <div class="title">{{ forloop.counter }}. {{ juego.titulo }}</div>
          <div class="summary">{{ juego.resumen }}</div>
        </div>
        <div class="nota">
          <p>{{ juego.nota }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>
  <!-- Sección de contacto -->
<div style="text-align: center;">
  <h1>{% trans "¿Encontraste un bug en tu aventura?" %}</h1>
  <p>{% trans "Cuéntanos para que podamos lanzar un hechizo de corrección." %}</p>
</div>
<div style="text-align: center; margin: 20px 0;">
  <a href="/{{ LANGUAGE_CODE }}/contacto" class="contact-button">{% trans "Contáctanos" %}</a>
</div>

{% endblock %}