{% extends "common/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}VANDAL{% endblock %}
{% block content %}
<section id="redactores">
  <h2>{% trans "Nuestro equipo de redacción" %}</h2>
  <div class="list-redactores">
{% for redactor in redactores %}
  <div class="redactor-container">
    <div class="image">
      <img class="image" src="{{ redactor.imagen.url }}" alt="{{ redactor.nombre }}">
    <div class="social-links">
      {% if redactor.twitter %}
        <a href="{{ redactor.twitter }}">
          {% if redactor.icono_twitter %}
            <img src="{{ redactor.icono_twitter.url }}" alt="Twitter Icon" style="width:32px;height:32px;margin-right:8px;">
          {% else %}
            <img src="{% static 'images/Logos/x_logo.png' %}" alt="Twitter Icon" style="width:32px;height:32px;margin-right:8px;">
          {% endif %}
        </a>
      {% endif %}
      {% if redactor.linkedin %}
        <a href="{{ redactor.linkedin }}">
          {% if redactor.icono_linkedin %}
            <img src="{{ redactor.icono_linkedin.url }}" alt="LinkedIn Icon" style="width:32px;height:32px;margin-right:8px;">
          {% else %}
            <img src="{% static 'images/Logos/linkedin_logo.png' %}" alt="LinkedIn Icon" style="width:32px;height:32px;margin-right:8px;">
          {% endif %}
        </a>
      {% endif %}
    </div>
  </div>
  <div class="info">
    <div class="headline">{{ redactor.nombre }}</div>
    <div class="summary">
      {% get_current_language as LANGUAGE_CODE %}
      {% if LANGUAGE_CODE == 'en' and redactor.resumen_en %}
        {{ redactor.resumen_en }}
      {% else %}
        {{ redactor.resumen }}
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
  </div>
</section>

<div style="text-align: center;">
  <h1>{% trans "¿Encontraste un bug en tu aventura?" %}</h1>
  <p>{% trans "Cuéntanos para que podamos lanzar un hechizo de corrección." %}</p>
</div>
<div style="text-align: center; margin: 20px 0;">
  <a href="/{{ LANGUAGE_CODE }}/contacto" class="contact-button">{% trans "Contáctanos" %}</a>
</div>
{% endblock %}