{% extends "common/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}VANDAL{% endblock %}
{% block content %}
<!-- Sección de videos -->
  <section id="video-portal">
    <h2>{% trans "Explora nuestros videos" %}</h2>
    <div class="video-container">
      <!-- Video 1 -->
      <div class="video-item">
        <video controls>
          <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
          Tu navegador no soporta la reproducción de videos.
        </video>
        <p>Video 1: Introducción</p>
      </div>
      <!-- Video 2 -->
      <div class="video-item">
        <video controls>
          <source src="{% static 'videos/video2.mp4' %}" type="video/mp4">
          Tu navegador no soporta la reproducción de videos.
        </video>
        <p>Video 2: Tutorial</p>
      </div>
      <!-- Video 3 -->
      <div class="video-item">
        <video controls>
          <source src="{% static 'videos/video3.mp4' %}" type="video/mp4">
          Tu navegador no soporta la reproducción de videos.
        </video>
        <p>Video 3: Avances</p>
      </div>
    </div>
  </section>
  <!-- Sección de contacto -->
<div style="text-align: center;">
  <h1>{% trans "¿Encontraste un bug en tu aventura?" %}</h1>
  <p>{% trans "Cuéntanos para que podamos lanzar un hechizo de corrección." %}</p>
</div>
<div style="text-align: center; margin: 20px 0;">
  <a href="/{{ LANGUAGE_CODE }}/contacto" class="contact-button">{% trans "Contáctanos" %}</a>
</div>
{% endblock %}