{% extends "common/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}VANDAL{% endblock %}
{% block content %}
{% if user.is_authenticated and user.userrole.role == 'redactor' or user.userrole.role == 'admin' %}
<body>
  <h2>{% trans "¿Eliminar este post?" %}</h2>
  <p>{{ post.title }}</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="delete-button">
      {% trans "Confirmar" %}
    </button>
    
    <button class="page-button">
      <a href="{% url 'blog_post' post.id %}">{% trans "Cancelar" %}</a>
    </button>
  </form>
{% else %}
  <p>{% trans "No tienes permiso para eliminar este post." %}</p>
{% endif %}
{% endblock %}