{% extends "common/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}VANDAL{% endblock %}
{% block content %}

  <h2>{% trans "¿Eliminar este comentario?" %}</h2>
  <p>{{ comment.content }}</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">
      {% trans "Confirmar" %}
    </button>

    <button>
      <a style="text-decoration: none;color: white;" href="{% url 'blog_post' comment.post.id %}">{% trans "Cancelar" %}</a>
    </button>

  </form>
{% endblock %}