{% extends "common/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}VANDAL{% endblock %}
{% block content %}
{% if user.is_authenticated and user.userrole.role == 'suscriptor' or user.userrole.role == 'admin' %}
<body>
    <h1 class="dashboard-title">{% trans "Bienvenid@," %} {{ user.username }}</h1>

    <!-- Contenedor principal del dashboard -->
    <div class="dashboard-container">

        <!-- Sección de Posts -->
        <div class="dashboard-card">
            <h2>{% trans "Tus Posts" %}</h2>
            <ul class="dashboard-list">
                {% for p in posts %}
                <li><a href="{% url 'blog_post' p.id %}">{{ p.title }}</a></li>
                {% empty %}
                <li>{% trans "No tienes posts." %}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- Sección de Comentarios -->
        <div class="dashboard-card">
            <h2>{% trans "Tus Comentarios" %}</h2>
            <ul class="dashboard-list">
                {% for c in comments %}
                <li>
                    <div class="comment-item">
                        <div class="content">{{ c.content }} <small>({{ c.created_at }})</small></div>
                        <div class="actions">
                            <a href="{% url 'blog_post' c.post.id %}" class="btn btn-info" style="margin-right:8px">{% trans "Ver post" %}</a>
                        </div>
                    </div>
                </li>
                {% empty %}
                <li>{% trans "No tienes comentarios." %}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Sección de Cambio de Contraseña -->
        <div class="dashboard-card">
            <h2>{% trans "Cambiar contraseña" %}</h2>
            <form method="post" class="dashboard-form" style="background: white">
                {% csrf_token %}
                {{ password_form.as_p }}
                <button type="submit" name="password_submit">{% trans "Actualizar contraseña" %}</button>
            </form>
        </div>

        <!-- Botón logout -->
        <div class="dashboard-card">
            <a href="{% url 'logout' %}" class="dashboard-form">{% trans "Cerrar sesión" %}</a>
        </div>
    </div>
</body>
{% else %}
    <script>
        window.location.href = "{% url 'home' %}";
    </script>
{% endif %}
{% endblock %}