{% extends "common/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}VANDAL{% endblock %}
{% block content %}
<!--- Dashboard de Suscriptores -->
    <body>
        <h1 class="dashboard-title">Bienvenid@, {{ user.username }}</h1>

        <!-- Contenedor principal del dashboard -->
        <div class="dashboard-container">

            <!-- Sección de Posts -->
            <div class="dashboard-card">
                <h2>Tus Posts</h2>
                <ul class="dashboard-list">
                    {% for p in posts %}
                    <li><a href="{% url 'blog_post' p.id %}">{{ p.title }}</a></li>
                    {% empty %}
                    <li>No tienes posts.</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Sección de Comentarios -->
            <div class="dashboard-card">
                <h2>Tus Comentarios</h2>
                <ul class="dashboard-list">
                    {% for c in comments %}
                    <li>
                        <div class="comment-item">
                            <div class="content">{{ c.content }} <small>({{ c.created_at }})</small></div>
                            <div class="actions">
                                {% if role == 'redactor' %}
                                <a href="{% url 'comment_delete' c.pk %}">Eliminar</a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    {% empty %}
                    <li>No tienes comentarios.</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Sección de Cambio de Contraseña -->
            <div class="dashboard-card">
                <h2>Cambiar contraseña</h2>
                <form method="post" class="dashboard-form" style="background: white">
                    {% csrf_token %}
                    {{ password_form.as_p }}
                    <button type="submit" name="password_submit">Actualizar contraseña</button>
                </form>
            </div>

            <!-- Botón logout -->
            <div class="dashboard-card">
                <a href="{% url 'logout' %}" class="dashboard-form">Cerrar sesión</a>
            </div>

        </div>
  {% endblock %}