{% extends "common/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}VANDAL{% endblock %}
{% block content %}
{% if user.is_authenticated and user.userrole.role == 'redactor' or user.userrole.role == 'admin' %}
<body>
    <h1 class="dashboard-title">{% trans "Bienvenid@," %} {{ user.username }}</h1>

    <!-- Contenedor principal del dashboard -->
    <div class="dashboard-container">

        <!-- Sección de subida de contenido -->
        <div class="dashboard-card">
            <h2>{% trans "Subir contenido" %}</h2>
            <form method="post" enctype="multipart/form-data" class="dashboard-form" style="background: white">
                {% csrf_token %}
                <input type="file" name="file" required>
                <button type="submit" name="upload">{% trans "Subir archivo" %}</button>
            </form>
        </div>

        <!-- Bloque de Noticias Últimas -->
        <div class="dashboard-card">
            <h2>{% trans "Tus Últimas Noticias" %}</h2>
            <ul class="dashboard-list">
                {% for n in ultimas_noticias %}
                <li>
                    <div class="post-item">
                        <div class="content">
                            <a href="{% url 'detalle_noticia_ultima' n.id %}">
                                {{ n.titulo }}
                            </a>
                            <small>({{ n.fecha_publicacion }})</small>
                        </div>
                        <div class="actions">
                            <button class="page-button">
                                <a href="{% url 'detalle_noticia_ultima' n.id %}">{% trans "Ir a la noticia" %}</a>
                            </button>
                            {% if role == 'redactor' or role == "admin" %}
                            <button class="delete-button">
                                <a href="{% url 'noticia_ultima_delete' n.id %}">{% trans "Eliminar" %}</a>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% empty %}
                <li>{% trans "No tienes noticias últimas." %}</li>
                {% endfor %}
            </ul>
            <!-- Botón para mostrar el formulario -->
            <button
                onclick="document.getElementById('nueva-noticia-ultima-form').classList.toggle('hidden')"
                class="page-button">
                {% trans "Agregar nueva noticia" %}
            </button>
            <!-- Formulario oculto por defecto -->
            <div id="nueva-noticia-ultima-form" class="hidden" style="margin-top: 1em;">
                <form method="post" enctype="multipart/form-data" class="dashboard-form" style="background: white">
                    {% csrf_token %}
                    <label for="id_titulo_ultima">{% trans "Título" %}</label>
                    <input type="text" name="titulo" id="id_titulo_ultima" class="form-control" required>
                    <label for="id_resumen_ultima">{% trans "Resumen" %}</label>
                    <textarea name="resumen" id="id_resumen_ultima" rows="3" class="form-control" required></textarea>
                    <label for="id_contenido_ultima">{% trans "Contenido" %}</label>
                    <textarea name="contenido" id="id_contenido_ultima" rows="6" class="form-control" required></textarea>
                    <label for="id_imagen_ultima">{% trans "Imagen" %}</label>
                    <input type="file" name="imagen" id="id_imagen_ultima" class="form-control">
                    <button type="submit" name="noticia_submit" class="btn btn-success" style="margin-top: 1em;">
                        {% trans "Publicar Noticia Última" %}
                    </button>
                </form>
            </div>
        </div>

        <!-- Bloque de Noticias Destacadas -->
        <div class="dashboard-card">
            <h2>{% trans "Tus Noticias Destacadas" %}</h2>
            <ul class="dashboard-list">
                {% for n in noticias_destacadas %}
                <li>
                    <div class="post-item">
                        <div class="content">
                            <a href="{% url 'detalle_noticia_destacada' n.id %}">
                                {{ n.titulo }}
                            </a>
                        </div>
                        <div class="actions">
                            <button class="page-button">
                                <a href="{% url 'detalle_noticia_destacada' n.id %}">{% trans "Ir a la noticia" %}</a>
                            </button>
                            {% if role == 'redactor' or role == "admin" %}
                            <button class="delete-button">
                                <a href="{% url 'noticia_destacada_delete' n.id %}">{% trans "Eliminar" %}</a>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% empty %}
                <li>{% trans "No tienes noticias destacadas." %}</li>
                {% endfor %}
            </ul>
            <!-- Botón para mostrar el formulario -->
            <button
                onclick="document.getElementById('nueva-noticia-destacada-form').classList.toggle('hidden')"
                class="page-button">
                {% trans "Agregar nueva noticia destacada" %}
            </button>
            <!-- Formulario oculto por defecto -->
            <div id="nueva-noticia-destacada-form" class="hidden" style="margin-top: 1em;">
                <form method="post" enctype="multipart/form-data" class="dashboard-form" style="background: white">
                    {% csrf_token %}
                    <label for="id_titulo_destacada">{% trans "Título" %}</label>
                    <input type="text" name="titulo_destacada" id="id_titulo_destacada" class="form-control" required>
                    <label for="id_resumen_destacada">{% trans "Resumen" %}</label>
                    <textarea name="resumen_destacada" id="id_resumen_destacada" rows="3" class="form-control" required></textarea>
                    <label for="id_contenido_destacada">{% trans "Contenido" %}</label>
                    <textarea name="contenido_destacada" id="id_contenido_destacada" rows="6" class="form-control" required></textarea>
                    <label for="id_imagen_destacada">{% trans "Imagen" %}</label>
                    <input type="file" name="imagen_destacada" id="id_imagen_destacada" class="form-control">
                    <button type="submit" name="noticia_destacada_submit" class="btn btn-success" style="margin-top: 1em;">
                        {% trans "Publicar Noticia Destacada" %}
                    </button>
                </form>
            </div>
        </div>

        <!-- Sección de Posts -->
        <div class="dashboard-card">
            <h2>{% trans "Tus Posts" %}</h2>
            <ul class="dashboard-list">
                {% for p in posts %}
                <li>
                    <div class="post-item">
                        <div class="content"><a href="{% url 'blog_post' p.id %}">{{ p.title }}</a> <small>({{ p.created_at }})</small></div>
                        <div class="actions">
                            {% if role == 'redactor' or role == "admin" %}
                            <button class="delete-button">
                                <a href="{% url 'post_delete' p.id %}">{% trans "Eliminar" %}</a>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% empty %}
                <li>{% trans "No tienes posts." %}</li>
                {% endfor %}
            </ul>
            <!-- Botón para mostrar el formulario -->
            <button
                onclick="document.getElementById('nuevo-post-form').classList.toggle('hidden')"
                class="page-button">
                {% trans "Agregar nuevo post" %}
            </button>

            <!-- Formulario oculto por defecto -->
            <div id="nuevo-post-form" class="hidden" style="margin-top: 1em;">
                <form method="post" enctype="multipart/form-data" class="dashboard-form" style="background: white">
                    {% csrf_token %}
                    <label for="id_title">{% trans "Título" %}</label>
                    <input type="text" name="title" id="id_title" class="form-control" required>

                    <label for="id_content">{% trans "Contenido" %}</label>
                    <textarea name="content" id="id_content" rows="5" class="form-control" required></textarea>

                    <label for="id_image">{% trans "Imagen" %}</label>
                    <input type="file" name="image" id="id_image" class="form-control">

                    <button type="submit" name="post_submit" class="btn btn-success" style="margin-top: 1em;">{% trans "Publicar" %}</button>
                </form>
            </div>
        </div>

        <!-- Sección de Comentarios -->
        <div class="dashboard-card">
            <h2>{% trans "Tus Comentarios" %}</h2>
            <ul class="dashboard-list">
                {% for c in comments %}
                    <li>
                        <div class="comment-item">
                            <div class="content">{{ c.content }} <small>({{ c.created_at }})</small></div>
                            <div class="actions">
                                <button class="page-button">
                                    <a style="text-decoration: none;color: white" href="{% url 'blog_post' c.post.id %}">{% trans "Ver post" %}</a>
                                </button>
                                {% if role == 'redactor' or role == "admin" %}
                                    <button class="delete-button">
                                        <a style="text-decoration: none;color: white" href="{% url 'comment_delete' c.pk %}">
                                            {% trans "Eliminar" %}
                                        </a>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% empty %}
                    <li>{% trans "No tienes comentarios." %}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Sección de Cambio de Contraseña -->
        <div class="dashboard-card">
            <h2>{% trans "Cambiar contraseña" %}</h2>
            <form method="post" class="dashboard-form" style="background: white">
                {% csrf_token %}
                {{ password_form.as_p }}
                <button type="submit" name="password_submit">{% trans "Actualizar contraseña" %}</button>
            </form>
        </div>

        <!-- Botón logout -->
        <div class="dashboard-card">
            <button class="delete-button">
                <a href="{% url 'logout' %}" class="dashboard-form">{% trans "Cerrar sesión" %}</a>
            </button>
        </div>
    </div>
</body>
{% else %}
    <script>
        window.location.href = "{% url 'home' %}";
    </script>
{% endif %}
{% endblock %}