{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VANDAL</title>
        <!-- Enlace al archivo de estilos principal -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/noticias.css' %}">
    </head>

    <body>
        <!-- Header social + login -->
        <nav class="navbar">
            <div class="language-switch">
                <a href="/es{{ request.get_full_path|slice:'3:' }}" class="lang-option">ES</a>
                <span>|</span>
                <a href="/en{{ request.get_full_path|slice:'3:' }}" class="lang-option">EN</a>
            </div>

            {% if user.is_authenticated %}
                <div class="login-dropdown">
                    <button class="dropdown-button">Bienvenido
                        {{ user.username }}</button>
                    <div class="dropdown-content">
                        <a href="/{{ LANGUAGE_CODE }}/dashboard/{{ user.userrole.role }}">Ir a mi panel</a>
                        <a href="/{{ LANGUAGE_CODE }}/logout/">Cerrar sesión</a>
                    </div>
                </div>
            {% else %}
                <div class="login-icon">
                    <a href="/{{ LANGUAGE_CODE }}/login/">
                        <img
                            class="social-icons"
                            src="{% static 'images/Logos/Login_icon.png' %}"
                            alt="Login Icon">
                    </a>
                </div>
            {% endif %}
        </nav>

        <!-- Logo principal -->
        <nav class="navbar">
            <div>
                <a href="/{{ LANGUAGE_CODE }}/">
                    <img
                        class="logo"
                        src="{% static 'images/Logos/vandal_logo.png' %}"
                        alt="Vandal Logo">
                </a>
            </div>
        </nav>

        <!-- Navbar principal -->
        <nav class="navbar">
            <ul>
                <li>
                    <a href="/{{ LANGUAGE_CODE }}/">{% trans "INICIO" %}</a>
                </li>
                <li>
                    <a href="/{{ LANGUAGE_CODE }}/blog/">{% trans "Blog" %}</a>
                </li>
                <li>
                    <a href="/{{ LANGUAGE_CODE }}/redactores">{% trans "Equipo" %}</a>
                </li>
                <li>
                    <a href="/{{ LANGUAGE_CODE }}/videos">{% trans "Vídeos" %}</a>
                </li>
                <li>
                    <a href="/{{ LANGUAGE_CODE }}/calendario">{% trans "Calendario" %}</a>
                </li>
                <li>
                    <a href="/{{ LANGUAGE_CODE }}/ranking">{% trans "Ranking" %}</a>
                </li>
            </ul>
        </nav>
        <!-- Noticias Destacadas -->
        <section id="noticias">
          <h2>{% trans "NOTICIAS DESTACADAS" %}</h2>
          <div class="list-noticias">
            {% for noticia in noticias %}
              <div class="noticia">
                <div class="time">
                  {% trans "Hace" %} {{ noticia.fecha_publicacion|timesince }}
                </div>
        
                <div class="headline">
                  {% if LANGUAGE_CODE == 'en' and noticia.titulo_en %}
                    {{ noticia.titulo_en }}
                  {% else %}
                    {{ noticia.titulo }}
                  {% endif %}
                </div>
        
                <div class="image">
                  <a href="{% url 'detalle_noticia' noticia.pk %}">
                    <img class="image" src="{{ noticia.imagen.url }}" alt="{% if LANGUAGE_CODE == 'en' and noticia.titulo_en %}{{ noticia.titulo_en }}{% else %}{{ noticia.titulo }}{% endif %}">
                  </a>
                </div>
        
                <div class="summary">
                  {% if LANGUAGE_CODE == 'en' and noticia.resumen_en %}
                    {{ noticia.resumen_en|truncatechars:120 }}
                  {% else %}
                    {{ noticia.resumen|truncatechars:120 }}
                  {% endif %}
                </div>
              </div>
            {% empty %}
              <p style="color: white;">{% trans "No hay noticias por el momento." %}</p>
            {% endfor %}
          </div>
        </section>
        

        <!-- Últimas Noticias -->
        <section id="ultimas-noticias">
            <h2>ÚLTIMAS NOTICIAS</h2>
            <div class="list-noticias">
                <!-- Noticia 4 -->
                <div class="noticia">
                    <div class="time">Hace 1 hora</div>
                    <div class="headline">Nuevo contenido en Monster Hunter Wilds</div>
                    <div class="image">
                        <a href="#"><img class="image" src="{% static 'images/Noticias/4.jpg' %}" alt="Noticia 4"></a>
                    </div>
                    <div class="summary">El nuevo DLC de Monster Hunter Wilds ya está disponible,
                        incluye la adición del desafiante monstruo archicurtido: Rey Dau</div>
                </div>
                <!-- Noticia 5 -->
                <div class="noticia">
                    <div class="time">Hace 2 horas</div>
                    <div class="headline">Crean un Cheeto de Pikachu que vale más que un videojuego de la saga Pokémon</div>
                    <div class="image">
                        <a href="#"><img class="image" src="{% static 'images/Noticias/5.jpg' %}" alt="Noticia 5"></a>
                    </div>
                    <div class="summary">Pokémon se ha convertido en una de las franquicias más
                        icónicas del mundo y por supuesto, el amor de los seguidores más incondicionales
                        va mucho más allá de los juegos</div>
                </div>
                <!-- Noticia 6 -->
                <div class="noticia">
                    <div class="time">Hace 3 horas</div>
                    <div class="headline">Estos son los videojuegos más jugados en Steam al 04 de mayo</div>
                    <div class="image">
                        <a href="#"><img class="image" src="{% static 'images/Noticias/6.jpg' %}" alt="Noticia 6"></a>
                    </div>
                    <div class="summary">El ránking semanal de Steam revela los juegos más
                        populares; el top 3 se destaca por reunir a miles de jugadores de todo el mundo:
                        Counter-strike 2, Dota 2 y Pubg: battlegrounds</div>
                </div>
            </div>
        </section>

        <!-- Sección de contacto -->
        <div style="text-align: center;">
            <h1>{% trans "¿Encontraste un bug en tu aventura?" %}</h1>
            <p>{% trans "Cuéntanos para que podamos lanzar un hechizo de corrección." %}</p>
        </div>
        <div style="text-align: center; margin: 20px 0;">
            <a href="/{{ LANGUAGE_CODE }}/contacto" class="contact-button">{% trans "Contáctanos" %}</a>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-logo">
                <img
                    class="logo-footer"
                    src="{% static 'images/Logos/vandal_logo.png' %}"
                    alt="Vandal Logo Footer">
            </div>
        </br>
        <nav class="footer-nav">
            <a href="/{{ LANGUAGE_CODE }}/legal">{% trans "Aviso legal" %}</a>
            <a href="/{{ LANGUAGE_CODE }}/">{% trans "Política de cookies" %}</a>
            <a href="/{{ LANGUAGE_CODE }}/publicidad">{% trans "Publicidad" %}</a>
            <a href="/{{ LANGUAGE_CODE }}/contacto">{% trans "Trabaja con nosotros" %}</a>
        </nav>
    </br>
    <div class="footer-bottom">
      {% trans "Copyright Vandal © 2025 - Prohibida la reproducción total o parcial de estos contenidos sin el permiso expreso de los autores." %}
    </div>
</footer>
</body>

</html>
